<div class="main_wrapper">

  <!--Warehouse Receipt List--->
  <div class="row">
    <div class="col-12">
      <h2>Shipment</h2>

      <div class="WarehouseReceiptTab">
        <ul class="nav nav-pills mb-3" id="WarehouseReceiptTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="General-tab" role="tab" data-toggle="tab" aria-selected="true" href="/receipt#General"
              (click)="activeTab=1" [ngClass]="{'active': activeTab==1}">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Consolidation-tab" href="/receipt#Consolidation" data-toggle="tab" role="tab"
              aria-selected="true" (click)="activeTab=2" [ngClass]="{'active': activeTab==2}">Consolidation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="PackageDetails-tab" href="/receipt#PackageDetails" data-toggle="tab" role="tab"
              aria-selected="true" (click)="activeTab=3" [ngClass]="{'active': activeTab==3}">Package Details</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <div class="separator marginBottom40"></div>

  <div class="tab-content organTab" id="CreateShipmentFormTabContent">
    <div class="tab-pane fade" id="General" role="tabpanel" aria-labelledby="General-tab" [ngClass]="{'show active': activeTab==1}">
      <form name="CreateReceiptForm" novalidate="" (submit)="SubmitReceipt(CreateReceiptForm)">
        <!-- Basic Details	-->
        <div class="row">
          <div class="col-12">
            <div class="white-box">
              <h2 class="headquarter-text">Basic Details</h2>

              <div class="row">
                <div class="col-4 example-container">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Receipt ID" name="ReceiptID" required [(ngModel)]="ReceiptSummary.ReceiptID" (keyup)="ReceiptChanged()" >
                  </mat-form-field>
                </div>
                <div class="col-4 example-container">
                  <mat-form-field>
                    <input matInput type="text" placeholder="Created By" name="CreatedBy" [(ngModel)]="ReceiptSummary.CreatedBy" (keyup)="ReceiptChanged()">
                  </mat-form-field>
                </div>
                <div class="col-4 example-container">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Created Date & Time" name="CreatedDateTime" [(ngModel)]="ReceiptSummary.CreatedDateTime" (keyup)="ReceiptChanged()">
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-4 example-container">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Created Date & Time" name="CreatedDateTime">
                  </mat-form-field>
                </div>
                <div class="col-4 example-container">
                  <mat-form-field>
                    <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>



              <!-- Common Save buttons -->
              <div class="buttons-bottom" id="saveCancelButton" flex="100" *ngIf="formUpdated">
                <div class="container-fluid">
                  <div class="buttons-center">
                    <button class="btn-create" [disabled]="submitting" type="submit" (click)="submitType=1"name="create">SAVE</button>
                    <button class="border-btn" [disabled]="submitting" type="button" (click)="cancelChanges()">CANCEL</button>
                  </div>
                </div>
              </div>
              <!--buttons Ends-->



            </div>
          </div>
        </div>
        <!-- Basic Details Ends-->
      </form>
    </div>

    <div class="tab-pane fade" id="Consolidation" role="tabpanel" aria-labelledby="Consolidation-tab" [ngClass]="{'show active': activeTab==2}">
      Second
    </div>

    <div class="tab-pane fade" id="PackageDetails" role="tabpanel" aria-labelledby="PackageDetails-tab" [ngClass]="{'show active': activeTab==3}">
      Third
    </div>


  </div>

</div>